---
# -----------------------------------------------------------------------------
# Core Tenant - Routed Firewall Host
#
# Purpose:
# - Apply firewall rules only to hosts in group "firewalls".
# -----------------------------------------------------------------------------

- name: Configure firewall policy
  hosts: firewalls
  become: true
  gather_facts: true

  roles:
    - role: fedora.linux_system_roles.firewall
      tags: [firewall]
