stages:
  - lint
  - deploy

lint:
  stage: lint
  tags:
    - self-hosted
    - mac
  script:
    - ./scripts/wunder-devtools-ee.sh sh -c "pip install -q pre-commit && pre-commit run --all-files"

deploy-keycloak:
  stage: deploy
  tags:
    - self-hosted
    - mac
  needs: ["lint"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - ./scripts/wunder-devtools-ee.sh ansible-playbook \
        -i ansible/inventories/poc/hosts.yml \
        ansible/playbooks/keycloak.yml
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "True"
