---
- name: Initial setup / user management
  hosts: all
  gather_facts: false
  become: false
  pre_tasks:
    - name: Remove hostname from known_hosts files
      become: false
      throttle: 1
      command: ssh-keygen -R {{ inventory_hostname }}
      delegate_to: localhost
      changed_when: false
      ignore_errors: true
    - name: Check if initial setup is needed
      # TODO
      #ping:
      shell: "hostname; id"
      ignore_unreachable: true
      check_mode: false
      changed_when: false
      failed_when: false
      register: node_unreachable
      vars:
        ansible_ssh_port: 22
    - name: Check if host is ready, but use different ssh port
      # TODO
      #ping:
      shell: "hostname; id"
      ignore_unreachable: true
      check_mode: false
      changed_when: false
      failed_when: false
      register: node_unreachable_custom_ssh
    - name: Gather facts when necessary
      setup:
      delegate_facts: True
      vars:
        ansible_ssh_user: "{{ linux_bootstrap_user }}"
        ansible_ssh_pass: "{{ linux_bootstrap_password | default(omit) }}"
        ansible_ssh_port: 22
      when: (node_unreachable.unreachable is defined and node_unreachable.unreachable) and (node_unreachable_custom_ssh.unreachable is defined and node_unreachable_custom_ssh.unreachable)

  roles:
    - name: Execute initial user_management
      role: user_management
      gather_facts: true
      become: true
      vars:
        ansible_ssh_user: "{{ linux_bootstrap_user }}"
        ansible_ssh_pass: "{{ linux_bootstrap_password | default(omit) }}"
        ansible_ssh_port: 22
      when: (node_unreachable.unreachable is defined and node_unreachable.unreachable) and (node_unreachable_custom_ssh.unreachable is defined and node_unreachable_custom_ssh.unreachable)
    - name: Execute role sshd
      role: sshd
      become: true
      vars:
        ansible_ssh_port: 22
        ssh_server_port: "{{ sshd_port | d(22) }}"
      when: (node_unreachable.unreachable is defined and node_unreachable.unreachable) and (node_unreachable_custom_ssh.unreachable is defined and node_unreachable_custom_ssh.unreachable)

- name: Base setup
  hosts: all
  gather_facts: true
  become: true
  roles:
    - name: Execute role user_management
      role: user_management
      vars:
      tags:
        - user_management
    - name: Execute role os_base_config
      role: os_base_config
      vars:
        obc_manage_epel: "{{ manage_epel | d(true) }}"
      tags:
        - base
    - name: Execute role firewall
      role: firewall
      vars:
      tags:
        - firewall
    - name: Execute role sshd
      role: sshd
      vars:
        ssh_server_port: "{{ sshd_port | d(22) }}"
      tags:
        - sshd
    - name: Execute role automatic_updates
      role: automatic_updates
      vars:
      tags:
        - automatic_updates
    - name: Execute role fail2ban
      role: fail2ban
      vars:
      when: enable_fail2ban | d(false)
      tags:
        - fail2ban
