---
- name: Run PreCheck
  hosts: localhost
  gather_facts: False
  pre_tasks:
    - name: Verifying that a limit is set
      fail:
        msg: 'This playbook cannot be run with no limit'
      run_once: true
      when: ansible_limit is not defined
    - debug:
        msg: Limit is {{ ansible_limit }}, let's continue
      run_once: true
      when: ansible_limit is defined

- name: Run initial setup / user management
  hosts: all
  gather_facts: False
  pre_tasks:
    - name: Remove hostname from known_hosts files
      become: False
      throttle: 1
      command: ssh-keygen -R {{ inventory_hostname }}
      delegate_to: localhost
      changed_when: False
      ignore_errors: True
    - name: Check if initial setup is needed
      shell: "hostname; id"
      ignore_unreachable: True
      check_mode: False
      changed_when: False
      failed_when: False
      register: node_unreachable
      vars:
        ansible_ssh_port: 22
    - name: Check if host is ready, but use different ssh port
      shell: "hostname; id"
      ignore_unreachable: True
      check_mode: False
      changed_when: False
      failed_when: False
      register: node_unreachable_custom_ssh
    - name: Gather facts when necessary
      setup:
      delegate_facts: True
      vars:
        ansible_ssh_user: "{{ linux_bootstrap_user }}"
        ansible_ssh_pass: "{{ linux_bootstrap_password | default(omit) }}"
        ansible_ssh_port: 22
      when: (node_unreachable.unreachable is defined and node_unreachable.unreachable) and (node_unreachable_custom_ssh.unreachable is defined and node_unreachable_custom_ssh.unreachable)
  roles:
    - name: Execute initial user_management
      gather_facts: True
      role: user_management
      vars:
        ansible_ssh_user: "{{ linux_bootstrap_user }}"
        ansible_ssh_pass: "{{ linux_bootstrap_password | default(omit) }}"
        ansible_ssh_port: 22
      when: (node_unreachable.unreachable is defined and node_unreachable.unreachable) and (node_unreachable_custom_ssh.unreachable is defined and node_unreachable_custom_ssh.unreachable)
    - name: Execute role os_rhel_base
      gather_facts: True
      role: os_rhel_base
      tags:
        - base_config
      when: (node_unreachable.unreachable is defined and node_unreachable.unreachable) and (node_unreachable_custom_ssh.unreachable is defined and node_unreachable_custom_ssh.unreachable)
    - name: Execute Red Hat system role sshd
      role: redhat.rhel_system_roles.sshd
      become: True
      vars:
        sshd_Port: 22
      when: (node_unreachable.unreachable is defined and node_unreachable.unreachable) and (node_unreachable_custom_ssh.unreachable is defined and node_unreachable_custom_ssh.unreachable)

- name: Base setup
  hosts: all
  gather_facts: True
  roles:
    - name: Execute role user_management
      role: user_management
      tags:
        - user_management
    - name: Execute role os_rhel_base
      role: os_rhel_base
      tags:
        - base_config
    - name: Execute Red Hat system role network
      role: redhat.rhel_system_roles.network
      become: True
      vars:
        network_connections: "{{ rh_rsr_network_connections | d([]) }}"
      tags:
        - network
    - name: Execute Red Hat system role timesync
      role: redhat.rhel_system_roles.timesync
      become: True
      vars:
        timesync_ntp_servers: "{{ rh_tsc_ntp_servers }}"
      tags:
        - timesync
        - ntpd
        - chronyd
    - name: Execute Red Hat system role sshd
      role: redhat.rhel_system_roles.sshd
      become: True
      vars:
        sshd_Port: "{{ sshd_port | d(22) }}"
      tags:
        - sshd
...
