---
- name: Setup OCP4 bastion host
  hosts: localhost
  gather_facts: False
  tasks:
    - name: Create a VM folder on given datacenter
      community.vmware.vcenter_folder:
        hostname: vcenter.core.corp.l-it.io
        username: administrator@vsphere.local
        password: TET&jekOB75e
        validate_certs: False
        datacenter_name: Bechtle
        folder_name: ro01
        folder_type: vm
        state: present

    - name: Create VM from RHEL 9 template
      community.vmware.vmware_guest:
        hostname: vcenter.core.corp.l-it.io
        username: administrator@vsphere.local
        password: TET&jekOB75e
        validate_certs: False
        name: bastion01.ro01.bechtle.poc.corp.l-it.io
        template: Bechtle/template-rhel-9
        datacenter: Bechtle
        folder: /Bechtle/vm/ro01
        state: poweredon
        wait_for_ip_address: yes
