---
ansible-navigator:
  execution-environment:
    enabled: true
    container-engine: auto
    image: quay.io/l-it/ee-wunder-ansible-ubi9:v1.9.3
    pull:
      policy: missing
    container-options:
      - "--volume=.:/runner/project"
      - "--workdir=/runner/project"
    environment-variables:
      pass:
        - ANSIBLE_VAULT_PASSWORD_FILE
        - VAULT_TOKEN
      set:
        ANSIBLE_CONFIG: /runner/project/ansible.cfg
        ANSIBLE_LOCAL_TEMP: /tmp
        ANSIBLE_REMOTE_TEMP: /tmp
        ANSIBLE_COLLECTIONS_PATH: "/usr/share/ansible/collections:/usr/share/automation-controller/collections:/runner/project/collections-dev:/runner/project/collections:/runner/collections"
  mode: stdout
  playbook-artifact:
    enable: false
