ansible-navigator:
  execution-environment:
    enabled: true
    container-engine: docker
    image: ee-wunder-ansible-ubi9:local
    pull:
      policy: missing
    container-options:
      - "--volume=/var/run/docker.sock:/var/run/docker.sock"
      - "--volume=.:/runner/project"
      # DEV Anible Collections have to be under "../../ansible-collections"
      - "--volume=../../ansible-collections:/runner/project/collections-dev/ansible_collections/lit"
      - "--workdir=/runner/project"
    environment-variables:
      pass:
        - ANSIBLE_VAULT_PASSWORD_FILE
      set:
        HOME: /tmp
        ANSIBLE_CONFIG: /runner/project/ansible.cfg
        ANSIBLE_LOCAL_TEMP: /tmp
        ANSIBLE_REMOTE_TEMP: /tmp
        ANSIBLE_COLLECTIONS_PATH: "/runner/project/collections-dev:/runner/project/collections:/usr/share/ansible/collections:/usr/share/automation-controller/collections:/runner/collections"
  mode: stdout
  playbook-artifact:
    enable: false
