ansible-navigator:
  execution-environment:
    enabled: true
    container-engine: podman
    image: quay.io/l-it/ee-wunder-ansible-ubi9:v1.7.1
    pull:
      policy: missing
    container-options:
      - "--user=1000"
      - "--volume=.:/runner/project"
      - "--workdir=/runner/project"
      # - "--volume=/home/deg/.ssh:/runner/project/.ssh:ro"
    environment-variables:
      pass:
        - ANSIBLE_VAULT_PASSWORD_FILE
        - VAULT_TOKEN
      set:
        HOME: /tmp
        ANSIBLE_CONFIG: /runner/project/ansible.cfg
        ANSIBLE_LOCAL_TEMP: /tmp
        ANSIBLE_REMOTE_TEMP: /tmp
        ANSIBLE_COLLECTIONS_PATH: "/runner/project/collections-dev:/runner/project/collections:/usr/share/ansible/collections:/usr/share/automation-controller/collections:/runner/collections"
  mode: stdout
  playbook-artifact:
    enable: false
